@import url("custom.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("/public/fonts/sf pro/sf-pro-text_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
em,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-variant-ligatures: none;
}

body {
  font-family: "SF Pro Display", Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

:root {
  --sf-pro-display: "SF Pro Display", Helvetica, sans-serif;
  --sangavy-thinitalic: "Sangavy_ThinItalic", sans-serif;
  --sangavy-light: "Sangavy_Light", sans-serif;
  --sangavy-lightitalic: "Sangavy_LightItalic", sans-serif;
  --sangavy-extralight: "Sangavy_ExtraLight", sans-serif;
  /* --sangavy-regular: "Sangavy_Regular", sans-serif; */
  --sangavy-regularitalic: "Sangavy_Regular_Italic", sans-serif;
  --sangavy-medium: "Sangavy_Medium", sans-serif;
  --sangavy-semibold: "Sangavy_SemiBold", sans-serif;
  --sangavy-semibolditalic: "Sangavy_SemiBold_Italic", sans-serif;
  --sangavy-bold: "Sangavy_Bold", sans-serif;
  --sangavy-bolditalic: "Sangavy_Bold_Italic", sans-serif;
  --sangavy-extrabold: "Sangavy_ExtraBold", sans-serif;
  --sangavy-extrabolditalic: "Sangavy_ExtraBoldItalic", sans-serif;
  --sangavy-black: "Sangavy_Black", sans-serif;
  --sangavy-blackitalic: "Sangavy_BlackItalic", sans-serif;
  --sangavy-extrablack: "Sangavy_ExtraBlack", sans-serif;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
